# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives.***: 
This notebook covered: 
+ creating Jupyter notebook, 
+ create markdown, 
+ create codes etc.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. MATLAB
5. SQL
6. R

Some of the commonly used data Science libraries:
1. Pandas
2. NumPy
3. Seaborn
4. Scikit Learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|PyTorch|
 |NumPy|

* Click the running Kernel, For Example, **Pyolite**, to see which other kernels are available.<br/>

  > _Please don't switch the existing kernel._


### Below are a few examples of evaluating arithmatic expressions in Python.


### This is a simple arithmatic expression to multiply then add integers.
$$
(3*4)+5 =17
$$

## Lakshmi Holla and Niveditha Pandith
Deepak P